// licenses ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.licenses {
    &__container {
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 16px;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 24, 1);
        }

        .filter {
            &__btn {
            }

            &__triggers {
            }

            &__trigger {
            }
        }
    }

    &__title {
    }

    &__filter {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        @include adaptiv-value("margin", -20, -0, 1);

        @media screen and (max-width: 767px) {
            margin: -10px;
        }
        @media screen and (max-width: 575px) {
            margin: -15px 0;
        }
    }

    &__item {
        flex: 0 0 33.333%;
        @include adaptiv-value("padding", 20, 0, 1);

        @media screen and (min-width: 1920px) {
            flex: 0 0 25%;
        }
        @media screen and (max-width: 1200px) {
            flex: 0 0 50%;
        }
        @media screen and (max-width: 767px) {
            padding: 10px;
        }
        @media screen and (max-width: 575px) {
            flex: 0 0 100%;
            padding: 15px 0;
        }
    }
}

.license-card {
    &__wrapper {
        background-color: $White;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        border-radius: 10px;
        @include adaptiv-value("padding-left", 24, 0, 1);
        @include adaptiv-value("padding-right", 24, 0, 1);
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        height: 100%;

        @media screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__heading {
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        @include adaptiv-value("padding-top", 40, 24, 1);
        @include adaptiv-value("margin-left", -24, -0, 1);
        @include adaptiv-value("margin-right", -24, -0, 1);
        border-radius: 10px 10px 0 0 ;

        @media screen and (max-width: 767px) {
            margin-left: -15px;
            margin-right: -15px;
        }

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 24, 16, 1);
        }

        & > * {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__title {
        font-weight: 300;
        @include adaptiv-font(28, 39, 18, 1);
        @include adaptiv-value("letter-spacing", 6.72, 4.32, 1);
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__price-current,
    &__price-full {
        position: relative;
        padding-left: 12px;

        &::before {
            content: "$";
            font-weight: 600;
            font-size: 12px;
            line-height: 17px;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }

    &__price-current {
        font-weight: 700;
        @include adaptiv-font(30, 42, 20, 1);

        &::before {
            transform: translateY(-90%);
        }
    }

    &__price-full {
        font-weight: 700;
        @include adaptiv-font(30, 42, 20, 1);

        &::before {
            transform: translateY(-60%);
        }

        ._discount & {
            font-weight: 600;
            @include adaptiv-font(16, 22, 14, 1);
            color: rgba($color: $fontColor, $alpha: 0.3);

            &::after {
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                left: -6px;
                right: -6px;
                top: 50%;
                transform: translateY(-50%);
                background: #7e93bf;
            }
        }
    }

    &__timer {
        padding: 10px 16px;
        display: inline-flex;
        background: #282c33;
        box-shadow: 0px 4px 20px rgba(29, 29, 80, 0.3);
        border-radius: 10px;
        font-weight: 700;
        color: $White;
        column-gap: 10px;
    }

    &__body {
        flex: 1;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 24, 16, 1);
        }

        & > * {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 24, 16, 1);
            }
        }

        ul {
            li {
                display: flex;
                align-items: flex-start;

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    flex: 0 0 20px;
                    background: url(../img/icons/check2.svg) no-repeat center/contain;
                    margin-right: 8px;
                }

                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 24, 16, 1);
                }
            }
        }
    }

    &__footer {
        text-align: center;

        & > * {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 24, 16, 1);
            }
        }
    }

    &__btn {
        a {
            width: 100%;

            &.btn-border {
                color: $Blue;
                cursor: auto;
            }
        }
    }

    &__time {
    }
}
