// profitability ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.profitability {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 32, 24, 1);
        }
    }

    &__title {
        &:not(:last-child) {
            margin: 0px 20px 0px 0px;
        }
    }

    &__content {
        background: $White;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        border-radius: 10px;
        @include adaptiv-value("padding", 32, 16, 1);

        @media screen and (min-width: $tablet) {
            display: flex;
            align-items: stretch;
        }
    }

    &__graph {
        position: relative;
        flex: 3;
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 16px;

            @media screen and (max-width: $tablet) {
                margin: 0px 0px 24px 0px;
            }
        }
    }

    &__graph-label {
        background: rgba(40, 44, 51, 0.9);
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        border-radius: 10px;
        color: $White;
        padding: 12px 16px;
        min-width: 160px;
    }

    &__graph-title {
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__graph-value {
        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &--positive {
            color: $Green;
        }

        &--negative {
            color: $Red;
        }
    }

    &__body {
        flex: 1;
        @include adaptiv-value("min-width", 238, 150, 1);
        background-color: #f6f6fb;
        border-radius: 10px;
        @include adaptiv-value("padding-top", 32, 24, 1);
        @include adaptiv-value("padding-bottom", 32, 24, 1);
        @include adaptiv-value("padding-left", 32, 16, 1);
        @include adaptiv-value("padding-right", 32, 16, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__total {
        &:not(:last-child) {
            @include adaptiv-value("padding-bottom", 40, 24, 1);
            @include adaptiv-value("margin-bottom", 40, 24, 1);
            border-bottom: 1px solid $Line;
        }

        & > * {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &--positive {
            color: $Green;
        }

        &--negative {
            color: $Red;
        }
    }

    &__total-value {
        font-weight: 700;
        @include adaptiv-font(24, 34, 16, 1);
    }

    &__total-label {
        font-weight: 600;
    }

    &__item {
        & > * {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 8, 4, 1);
            }
        }

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 40, 24, 1);
        }
    }

    &__item-label {
        font-size: 12px;
        line-height: 17px;
        color: $DGrey;
    }

    &__item-value {
        font-weight: 700;
        @include adaptiv-font(16, 22, 14, 1);
    }
}

// trip-banner ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.trip-banner {
    @include adaptiv-value("margin-bottom", 64, 40, 1);

    &__wrapper {
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include adaptiv-value("padding", 56, 32, 0);
        text-align: center;
        color: $White;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($color: #000000, $alpha: 0.1);
            pointer-events: none;
        }
    }

    &__body {
        position: relative;
    }

    &__timer {
        font-weight: 700;
        @include adaptiv-font(42, 59, 18, 1);

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

// activity-report ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.activity-report {
    @include adaptiv-value("padding-bottom", 64, 40, 1);

    @media screen and (max-width: $tablet) {
        overflow: hidden;
    }

    &:not(:last-child) {
        margin-bottom: 0;
    }

    &__table {
        background: $White;
        box-shadow: 4px 14px 24px rgba(29, 29, 80, 0.08);
        border-radius: 10px;
        @include adaptiv-value("padding-top", 24, 8, 1);
        @include adaptiv-value("padding-bottom", 24, 8, 1);
        @include adaptiv-value("padding-left", 32, 8, 1);
        @include adaptiv-value("padding-right", 32, 8, 1);
    }

    &__heading {
        @media screen and (min-width: 574.98px) {
            display: flex;
            @include adaptiv-value("gap", 30, 10, 1);
            @include adaptiv-value("padding-left", 24, 16, 1);
            @include adaptiv-value("padding-right", 24, 16, 1);
            max-width: 89%;
        }
        @media screen and (max-width: 574.98px) {
            display: none;
        }
    }

    &__th {
        color: $Grey;
        padding-bottom: 16px;
    }

    &__activity {
        flex: 1 1 100%;

        @media screen and (max-width: 574.98px) {
            &:not(:last-child) {
                margin-bottom: 16px !important;
            }
        }
    }

    &__month {
        flex: 0 0 20%;
        text-align: right;
    }

    &__total {
        flex: 0 0 20%;
        text-align: right;
    }

    &__hidden {
        margin-top: 10px;
        margin-bottom: 24px;
    }

    &__item {
        background: $White;
        border: 1px solid #e7e9ed;
        @include adaptiv-value("padding-left", 24, 16, 1);
        @include adaptiv-value("padding-right", 24, 16, 1);
        border-radius: 10px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__button {
        padding-top: 14px;
        padding-bottom: 14px;
        background: $White;
        width: 100%;
        font-weight: 500;
        text-align: left;
        position: relative;

        @media screen and (min-width: 574.98px) {
            display: flex;
            align-items: center;
        }

        &:not(.accordion__button--empty) {
            @media (any-hover: hover) {
                &:hover {
                    .activity-report__nomination-icon {
                        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                    }

                    .activity-report__nomination-label {
                        color: $Blue;
                    }
                }
            }
        }

        &::after {
            @media screen and (max-width: 574.98px) {
                display: none;
            }
        }

        .accordion__toggler {
            @media screen and (min-width: 574.98px) {
                display: none;
            }
        }
    }

    &__button-wrapper {
        @include adaptiv-value("gap", 30, 10, 1);
        width: 100%;

        @media screen and (min-width: 574.98px) {
            display: flex;
            align-items: center;
            max-width: 89%;
        }
    }

    &__td {
        @media screen and (max-width: 574.98px) {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__td-label {
        @media screen and (min-width: 574.98px) {
            display: none;
        }
        @media screen and (max-width: 574.98px) {
            font-size: 12px;
            line-height: 17px;
            color: $Grey;
        }
    }

    &__td-val {
        font-size: 14px;
        line-height: 20px;
    }

    &__nomination {
        display: flex;
        align-items: center;

        @media screen and (max-width: 574.98px) {
            width: 100%;
        }

        & > * {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__nomination-icon {
        flex-shrink: 0;
        @include adaptiv-value("flex-basis", 32, 25, 1);
    }

    &__nomination-label {
        @include adaptiv-font(16, 22, 13, 1);
        transition: $transition ease color 0s;

        @media screen and (max-width: 574.98px) {
            flex: 1;
        }
    }

    .tooltip__btn {
        @media screen and (max-width: 574.98px) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .accordion__toggler {
        @media screen and (max-width: 574.98px) {
            flex: 1;
            justify-content: space-between;
            margin-top: 16px;
        }
    }

    &__partner {
        background: #f2f5f9;
        border-radius: 8px;
        padding-top: 16px;
        @include adaptiv-value("padding-left", 24, 16, 1);
        @include adaptiv-value("padding-right", 24, 16, 1);
        @include adaptiv-value("padding-bottom", 24, 16, 1);

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__partner-about {
        display: flex;
        align-items: center;
        gap: 16px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: 574.98px) {
            display: block;
        }
    }

    &__partner-about-left {
        display: flex;
        align-items: center;
    }

    &__partner-logo {
        flex: 0 0 32px;
        height: 32px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        transition: $transition ease opacity 0s;

        &:not(:last-child) {
            @include adaptiv-value("margin-right", 24, 16, 1);
        }

        img {
            object-fit: cover;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__partner-name {
        @include adaptiv-font(13, 18, 12, 1);
        color: $fontColor;
        text-decoration: underline transparent from-font;
        transition: $transition ease text-decoration 0s;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline $fontColor from-font;
            }
        }
    }

    &__partner-registry {
        @include adaptiv-font(13, 18, 10, 1);
        text-align: right;
        flex: 1;

        @media screen and (min-width: $tablet) {
            white-space: nowrap;
        }
        @media screen and (max-width: 574.98px) {
            text-align: left;
            margin-top: 4px;
            @include adaptiv-value("margin-left", 56, 48, 0);
        }
    }

    &__partner-info {
        display: flex;
        @include adaptiv-value("padding-left", 56, 48, 1);
        align-items: flex-start;
        flex-wrap: wrap;
        margin: -12px;
        max-width: 553px;

        @media screen and (max-width: 574.98px) {
            padding-left: 0;
            max-width: 100%;
            margin: -6px 0;
        }
    }

    &__partner-info-item {
        flex: 0 0 33.333%;
        padding: 12px;

        @media screen and (max-width: 574.98px) {
            flex: 0 0 100%;
            padding: 6px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        & > * {
            &:not(:last-child) {
                margin-bottom: 4px;

                @media screen and (max-width: 574.98px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__partner-info-label {
        font-size: 12px;
        line-height: 17px;
        color: $Grey;
    }

    &__partner-info-val {
        @include adaptiv-font(13, 18, 12, 1);
    }
}

// qualification ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.qualification {
    &__container {
    }

    &__title {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        @include adaptiv-value("margin", -10, -5, 1);
    }

    &__item {
        @include adaptiv-value("padding", 10, 5, 1);
        flex: 1 0 20%;

        &--complete {
            .qualification {
                &__item-wrapper {
                    background: linear-gradient(114.5deg, #81da85 -3.13%, #358838 119.55%);
                    color: $White;
                }

                &__item-title {
                    color: $White;
                }
            }
        }
    }

    &__item-wrapper {
        background-color: $White;
        box-shadow: 4px 14px 24px rgba(29, 29, 80, 0.08);
        border-radius: 10px;
        @include adaptiv-value("padding", 24, 16, 1);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item-top {
        flex: 1;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 40, 32, 1);
        }
    }

    &__item-title {
        display: inline-flex;
        font-weight: 700;
        color: $fontColor;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    a.qualification__item-title {
        text-decoration: underline transparent from-font;
        text-underline-offset: 1px;
        transition: $transition ease text-decoration 0s;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline $fontColor from-font;
            }
        }
    }

    &__item-goal {
        @include adaptiv-font(14, 20, 10, 1);
        white-space: nowrap;
        color: $Grey;
    }

    &__item-check {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $White;
        border-radius: 30px;
        font-weight: 600;
        @include adaptiv-font(12, 17, 10, 1);
        @include adaptiv-value("padding", 8, 6, 1);
        color: $DGrey;
        text-align: center;

        img,
        picture {
            margin-right: 4px;
            @include adaptiv-value("max-width", 16, 12, 1);
        }
        i {
            @include adaptiv-font(16, 16, 12, 1);
            margin-right: 4px;
        }
    }
}
