// promo ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.promo {
    &__container {
        & > * {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 32, 24, 1);
            }
        }
    }

    &__title {
    }

    &__video {
    }
}

// promo ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.past-trips {
    &__container {
    }

    &__title {
    }

    &__wrapper {
        background: $White;
        box-shadow: 4px 14px 24px rgba(29, 29, 80, 0.08);
        border-radius: 10px;
        @include adaptiv-value("padding", 32, 16, 1);
    }

    &__item {
        display: block;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        text-align: center;
        color: $White;
        padding: 24px 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: $layoutDesktop + 0.02 + "px") {
            @include adaptiv-value("padding-top", 24, 8, 0);
            @include adaptiv-value("padding-bottom", 24, 8, 0);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($color: #494f6f, $alpha: 0.7);
            pointer-events: none;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 3s ease all 0s;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    a.past-trips__item {
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1) translate(-10px, -7px);
                }
            }
        }
    }

    &__city {
        font-weight: 700;
        @include adaptiv-font(34, 44, 24, 1);
        position: relative;
        z-index: 1;
    }

    &__date {
        position: relative;
        z-index: 1;
    }
}
