// fancybox ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.fancybox {
    &__container {
        @media (max-width: $mobileSmall) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__backdrop {
        background: rgba(32, 38, 53, 0.25);
    }

    &__content {
        border-radius: 25px;

        & > .carousel__button.is-close {
            top: 20px;
            right: 20px;
            color: $Grey;
            box-shadow: none;
            width: 24px;
            height: 24px;
            background: transparent;
        }

        .fancybox__iframe {
            & + .carousel__button.is-close {
                top: -40px;
                right: 0;
                color: $White;
            }
        }
    }

    &__iframe {
        border-radius: 25px;
    }
}

// popup ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.popup {
    display: none;
    width: 100%;
    max-width: 382px;
    border-radius: 10px;
    @include adaptiv-value("padding", 40, 16, 1);

    &__content {
        & > * {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 32, 24, 1);
            }
        }
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__title {
        text-align: center;
        color: #282c33;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__text {
        text-align: center;
    }

    .form__item {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 24, 16, 1);
        }
    }

    &__link {
        text-align: center;

        a {
            font-weight: 600;
            @include adaptiv-font(14, 20, 12, 1);
            color: $Blue;
            text-decoration: underline transparent from-font;
            text-underline-offset: 3px;
            transition: $transition ease text-decoration 0s;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline $Blue from-font;
                }
            }
        }
    }

    &_license {
        .popup {
            &__content {
                & > * {
                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }

    &_broker-connect {
        .popup__title {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &_strategy {
        max-width: 596px;

        .popup {
            &__title {
                text-align: left;
                color: $fontColor;

                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 40, 24, 1);
                }
            }
        }

        .form {
            &__item {
                &:not(:last-child) {
                    @include adaptiv-value("margin-bottom", 40, 24, 1);
                }
            }

            &__label {
                color: $fontColor;
                @include adaptiv-value("margin-bottom", 16, 8, 1);
                @include adaptiv-font(14, 20, 12, 1);
            }

            &__input {
                @include adaptiv-font(14, 20, 12, 1);
            }

            &__input-descr {
                @include adaptiv-font(14, 20, 12, 1);
            }

            textarea.form__input {
                @include adaptiv-value("min-height", 156, 120, 1);
            }

            &__submit {
                @media (min-width: $mobileSmall) {
                    width: auto;
                }
            }
        }
    }

    &_purchase {
        max-width: 667px;

        .popup__title {
            text-align: left;

            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 32, 24, 1);
            }
        }

        .activity-report {
            &__partner-logo {
                flex: 0 0 40px;
                height: 40px;
            }

            &__partner-name {
                font-weight: 600;
            }
        }

        .operations__table {
            th,
            td {
                &:not(:first-child) {
                    text-align: right;
                }
            }
        }
    }
}
