// sidebar ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.sidebar {
    width: 100%;
    flex-shrink: 0;
    @include adaptiv-value("flex-basis", $sidebarWidth, $sidebarWidth - 40, 0);
    @include adaptiv-value("max-width", $sidebarWidth, $sidebarWidth - 40, 0);
    position: sticky;
    align-self: flex-start;
    top: 0;
    left: 0;
    z-index: 10;
    transition: $transition ease all 0s;

    @media screen and (max-width: $tablet) {
        position: fixed;
        transform: translateY(-100%);
        max-width: 100%;
        width: 100%;
        border-top: 1px solid #d5dbe4;

        .sidebar__container {
            padding-bottom: $sizeHeaderHeightMobile * 1.5;
        }

        &._active {
            margin-top: $sizeHeaderHeightMobile;
            transform: translateY(0);
        }
    }

    &__container {
        @include adaptiv-value("padding", $containerPadding, $containerPaddingMobile, 1);
        background-color: $White;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        position: relative;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__toggle {
        @media screen and (min-width: $tablet) {
            position: relative;
            display: inline-flex;
            font-size: 24px;
            color: $Grey;
            padding: 5px;
            position: absolute;
            @include adaptiv-value("top", 44, 36, 1);
            @include adaptiv-value("right", 27, 20, 1);
            z-index: 1;
            transition: $transition ease color 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: rgba($color: $Grey, $alpha: 0.6);
                }
            }

            i {
                transition: $transition ease transform 0s;
            }

            ._hide-sidebar & {
                right: 7px;
            }
        }
        @media screen and (max-width: $tablet) {
            display: none;
        }
    }

    .logo {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    ._hide-sidebar & {
        flex: 0 0 $sidebarHideWidth + px;
        max-width: $sidebarHideWidth + px;

        .sidebar {
            &__toggle {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

// account-box ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.account-box {
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__avatar {
        text-align: center;

        &:not(:last-child) {
            @include adaptiv-value("margin-right", 20, 10, 1);

            @media screen and (max-width: $tablet) {
                margin-right: 20px;
            }
        }

        &--gold {
            color: $LOrange;

            .account-box__image {
                border-color: $LOrange;
            }
        }
    }

    &__image {
        display: block;
        position: relative;
        @include adaptiv-value("height", 60, 40, 1);
        @include adaptiv-value("width", 60, 40, 1);
        border-radius: 100%;
        overflow: hidden;
        border: 4px solid transparent;
        box-sizing: content-box;

        @media screen and (max-width: $tablet) {
            width: 60px;
            height: 60px;
        }

        &::before {
            content: "";
            display: block;
            background: rgba($color: $White, $alpha: 0.2);
            border-radius: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
            transition: $transition ease all 0s;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__tariff {
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
    }

    &__body {
        transition: $transition ease width, $transition height 0s;
        & > *:not(:last-child) {
            margin-bottom: 8px;
        }

        ._hide-sidebar & {
            width: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__name {
        display: inline-block;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: $fontColor;
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline $fontColor from-font;
            }
        }
    }

    &__role {
        font-size: 13px;
        line-height: 18px;
    }

    &__info {
        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__info-item {
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $DGrey;
    }

    &__info-title {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__info-copy {
        color: inherit;
        display: inline-flex;
        align-items: center;

        span {
            text-decoration: underline $DGrey from-font;
            transition: $transition ease text-decoration 0s;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        i {
            font-size: 14px;
        }

        @media (any-hover: hover) {
            &:hover {
                span {
                    text-decoration: underline transparent from-font;
                }

                i {
                    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                }
            }
        }
    }
}

// sidebar-menu ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.sidebar-menu {
    margin-top: -5px;

    &__list {
    }

    &__item {
        display: flex;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 24px;
            margin-bottom: 14px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: $fontColor;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        transition: $transition ease all 0s;

        &::before {
            content: "";
            display: block;
            width: 6px;
            height: 100%;
            position: absolute;
            @include adaptiv-value("left", -40, -32, 1);
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            border-radius: 0 4px 4px 0;
            background: $Blue;
            opacity: 0;
            transition: $transition ease opacity 0s;
        }

        ._hide-sidebar & {
            i {
                margin: 0;
            }
        }

        i {
            font-size: 24px;
            color: $Grey;
            margin-right: 16px;
            transition: $transition ease color 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                .sidebar-menu__text {
                    color: $Blue;
                    text-decoration: underline $Blue from-font;
                }

                i {
                    color: $Blue;
                    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                }
            }
        }

        &._active {
            color: $Blue;

            &::before {
                opacity: 1;
            }

            i {
                color: inherit;
            }
        }
    }

    &__text {
        display: block;
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;

        ._hide-sidebar & {
            width: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__notification {
        width: 21px;
        height: 21px;
        flex: 0 0 21px;
        background-color: $Red;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $White;
        text-decoration: none;
        margin-left: 20px;
    }
}
