// base ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.col {
    &-5,
    &-6,
    &-7,
    &-8,
    &-12,
    &-sm-3,
    &-sm-5,
    &-sm-6,
    &-sm-7,
    &-sm-9,
    &-sm-12,
    &-md-3,
    &-md-4,
    &-md-5,
    &-md-6,
    &-md-7,
    &-md-8,
    &-md-9,
    &-md-10,
    &-md-12,
    &-lg-3,
    &-lg-6,
    &-lg-9,
    &-lg-12,
    &-xl-3 {
        width: 100%;
        @include adaptiv-value("padding-left", 16, 5, 1);
        @include adaptiv-value("padding-right", 16, 5, 1);
        min-height: 1px;

        & > [class^="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-5 {
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }

    &-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &-7 {
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }

    &-8 {
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }

    &-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &-sm-3 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &-sm-5 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 41.666%;
            max-width: 41.666%;
        }
    }

    &-sm-6 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &-sm-7 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 58.333%;
            max-width: 58.333%;
        }
    }

    &-sm-9 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &-sm-12 {
        @media screen and (min-width: 574.98px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &-md-3 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &-md-4 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    }

    &-md-5 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 41.666%;
            max-width: 41.666%;
        }
    }

    &-md-6 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &-md-7 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 58.333%;
            max-width: 58.333%;
        }
    }

    &-md-8 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 66.666%;
            max-width: 66.666%;
        }
    }

    &-md-9 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &-md-10 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 83.333%;
            max-width: 83.333%;
        }
    }

    &-md-12 {
        @media screen and (min-width: $mobile) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &-lg-3 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &-lg-4 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    }

    &-lg-6 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &-lg-8 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 66.666%;
            max-width: 66.666%;
        }
    }

    &-lg-9 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }

    &-lg-12 {
        @media screen and (min-width: $tablet) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &-xl-3 {
        @media screen and (min-width: 1199.98px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &-xl-9 {
        @media screen and (min-width: 1199.98px) {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
}

.m {
    &b-0 {
        margin-bottom: 0 !important;
    }
}

.p {
    &-0 {
        padding: 0 !important;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

._green {
    color: #4dc668;
}

._sBlue {
    color: #4785e5;
}

._red {
    color: $Red;
}

.text-end {
    text-align: right !important;
}
// buttons ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.btn {
    text-align: center;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: $fontMain;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: $White;
    padding: 10px 32px;
    border-radius: 10px;

    &-small {
        font-size: 12px;
        line-height: 17px;
        min-height: 30px;
        padding: 5px 10px;
    }

    &-big {
        @include adaptiv-font(16, 22, 14, 1);
        @include adaptiv-value("min-height", 58, 45, 1);
    }

    &-color {
        background-color: $Blue;
        color: $White;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.2);
            pointer-events: none;
            border-radius: 100%;
            transition: 0.3s ease all 0s;
            opacity: 0;
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    opacity: 1;
                    width: 200%;
                    height: 200%;
                }
            }
        }
    }

    &-border {
        border: 1px solid $Blue;
        color: $fontColor;
        transition: $transition ease color 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $Blue;
            }
        }
    }
}

// titles ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 {
    font-weight: 600;
    @include adaptiv-font(28, 39, 18, 1);
    display: flex;
    align-items: center;

    & > * {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    img {
        @include adaptiv-value("max-width", 40, 30, 1);
    }
}

h2 {
    font-weight: 700;
    @include adaptiv-font(24, 34, 16, 1);

    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 32, 24, 1);
    }
}

h3 {
    font-weight: 700;
    @include adaptiv-font(20, 28, 14, 1);

    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 24, 16, 1);
    }
}

h4 {
    font-weight: 700;
    @include adaptiv-font(16, 22, 13, 1);

    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 24, 16, 1);
    }
}
// site ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: #{$fontSize}px;
    line-height: #{$lineHeight}px;
    color: $fontColor;
    background-color: #fbfbfd;
    overflow-x: hidden;

    @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
        font-size: calc(#{$fontSizeMobile}px + (#{$fontSize} - #{$fontSizeMobile}) * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
        line-height: calc(#{$lineHeight} / #{$fontSize});
    }

    &._lock {
        overflow: hidden;
    }
}

.body {
    &_copytrade {
        .header::before {
            @media (max-width: $mobileSmall) {
                height: 257px;
            }
        }
    }
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0px;
}

.main {
    position: relative;
    @media screen and (max-width: $mobile) {
        margin-top: 50px;

        & > section,
        & > div {
            @include adaptiv-value("margin-bottom", 64, 40, 1);

            &:first-child {
                margin-top: 40px;
            }
        }
    }

    & > section,
    & > div {
        @include adaptiv-value("margin-bottom", 64, 40, 1);
    }
}

.footer {
    margin-top: auto;
}

[class*="__container"] {
    width: 100%;
    max-width: 100%;
    @include adaptiv-value("padding-left", $containerPadding, $containerPaddingMobile, 0);
    @include adaptiv-value("padding-right", $containerPadding, $containerPaddingMobile, 0);
    margin: 0 auto;
}

.table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            font-weight: 500;
            text-align: left;
            color: $Grey;
        }

        th,
        td {
            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    }
}

.pagination {
    display: flex;

    li {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__item {
        text-align: center;
        -webkit-appearance: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #efeff4;
        cursor: pointer;
        font-family: $fontMain;
        font-weight: 600;
        @include adaptiv-font(14, 20, 12, 1);
        border-radius: 10px;
        flex-shrink: 0;
        @include adaptiv-value(width, 40, 30, 1);
        @include adaptiv-value(height, 40, 30, 1);
        @include adaptiv-value(flex-basis, 40, 30, 1);
        border: 1px solid transparent;
        transition: $transition ease border-color, $transition color 0s;

        &:not(._active):not(.pagination__more) {
            @media (any-hover: hover) {
                &:hover {
                    border-color: $Blue;
                    color: $Blue;
                }
            }
        }

        &._active,
        &.pagination__more {
            cursor: auto;
        }

        &._active {
            background: $Blue;
            color: $White;
        }
    }
}

.arrows {
    display: flex;
    align-items: center;

    &__button {
        flex-shrink: 0;
        @include adaptiv-value(width, 40, 30, 1);
        @include adaptiv-value(height, 40, 30, 1);
        @include adaptiv-value(flex-basis, 40, 30, 1);
        border-radius: 100%;
        background: $White;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        font-size: 12px;
        color: $DGrey;
        cursor: pointer;
        pointer-events: all;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        transition: $transition ease transform, $transition opacity 0s;

        &:not(.arrows__button-disabled) {
            @media (any-hover: hover) {
                &:hover {
                    transform: translateY(3px);
                }
            }
        }

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__button-prev {
        i {
            transform: rotate(180deg);
        }
    }

    &__button-disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

// info ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.info {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        flex: 0 0 22px;
    }

    &--pending {
        color: #e39b0d;

        &::before {
            background: url(../img/icons/alert2.svg) no-repeat center/contain;
        }
    }

    &--accept {
        color: $Green;

        &::before {
            background: url(../img/icons/alert3.svg) no-repeat center/contain;
        }
    }

    &--rejected {
        color: $Red;

        &::before {
            background: url(../img/icons/alert4.svg) no-repeat center/contain;
        }
    }
}

.video {
    box-shadow: 4px 14px 24px rgba(29, 29, 80, 0.08);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: #494f6f, $alpha: 0.3);
        pointer-events: none;
        z-index: 1;
    }

    &__wrapper {
        @include adaptiv-value("min-height", 500, 350, 0);
        position: relative;
        @include adaptiv-value("padding-top", 96, 48, 1);
        @include adaptiv-value("padding-bottom", 40, 24, 1);
        @include adaptiv-value("padding-left", 40, 16, 1);
        @include adaptiv-value("padding-right", 40, 16, 1);
        color: $White;
        text-align: center;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (any-hover: hover) {
            &:hover {
                .video__play {
                    border-color: $White;

                    i {
                        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                    }
                }
            }
        }
    }

    &__title {
        font-weight: 700;
        position: relative;

        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 96, 80, 1);
        }
    }

    &__title-main {
        @include adaptiv-font(74, 104, 32, 1);
    }

    &__title-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include adaptiv-font(146, 146, 50, 1);
        color: rgba($color: $White, $alpha: 0.1);
    }

    &__play {
        font-weight: 600;
        @include adaptiv-font(16, 22, 14, 1);
        white-space: nowrap;
        color: $White;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        padding: 16px 24px;
        border: 1px solid transparent;
        transition: $transition ease border-color 0s;

        i {
            @include adaptiv-font(18, 18, 16, 1);

            &:not(:last-child) {
                @include adaptiv-value("margin-right", 16, 8, 1);
            }
        }
    }

    &__warning,
    &__congratulation {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        // box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        z-index: 2;

        img {
            max-width: 24px;
            margin-right: 8px;
        }
    }

    &__warning {
        background: #f8a830;
        padding: 8px;
        text-align: left;
    }

    &__congratulation {
        @include adaptiv-font(16, 22, 12, 1);
        background: url(../img/icons/congratulation.jpg) no-repeat center/cover;
        padding: 18px 40px;
    }

    &--lock {
        &::before {
            background: rgba($color: #494f6f, $alpha: 0.7);
        }
    }
}

.custom-select {
    position: relative;

    &__link {
        background: $White;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 8px 16px;
        color: $fontColor;
        min-width: 200px;
        border: 1px solid transparent;
        transition: $transition ease border-color 0s;

        @media (any-hover: hover) {
            &:hover {
                border-color: $Blue;
            }
        }

        span {
            font-weight: 600;
        }
        i {
            font-size: 7px;
            transition: $transition ease transform 0s;
        }
    }

    &__list {
        width: 100%;
        background: $White;
        padding: 24px;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        border-radius: 10px;
        transform: translateY(0px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        transition: $transition ease all 0s;
        z-index: 3;
    }

    &__item {
        cursor: pointer;
        font-weight: 600;
        padding-left: 26px;
        position: relative;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            left: 0;
            width: 18px;
            height: 18px;
            flex: 0 0 18px;
            border: 1px solid $Grey;
            border-radius: 6px;
            transition: $transition ease border-color 0s;
        }
        &::after {
            width: 10px;
            height: 10px;
            flex: 0 0 10px;
            background: $Blue;
            border-radius: 3px;
            left: 4px;
            opacity: 0;
            transition: $transition ease opacity 0s;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &._active {
            &::before {
                border-color: $Blue;
            }
            &::after {
                opacity: 1;
            }
        }

        a {
            color: $fontColor;

            @media (any-hover: hover) {
                transition: $transition ease color 0s;

                &:not(._active) {
                    &:hover {
                        color: $Blue;

                        &::before {
                            border-color: $Blue;
                        }
                    }
                }
            }
        }
    }

    &._active {
        .custom-select {
            &__link {
                border-color: $Blue;

                i {
                    transform: rotate(180deg);
                }
            }

            &__list {
                transform: translateY(8px);
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
}

.back {
    font-size: 16px;
    line-height: 22px;
    color: $fontColor;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: $mobileSmall) {
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
    }

    i {
        justify-content: center;
        flex-shrink: 0;
        @include adaptiv-value("flex-basis", 40, 30, 1);
        @include adaptiv-value("height", 40, 30, 1);
        border-radius: 100%;
        background: $White;
        box-shadow: 4px 8px 34px rgba(29, 29, 80, 0.1);
        transform: rotate(180deg);
        @include adaptiv-font(12, 12, 10, 1);
        color: $DGrey;
    }

    @media (any-hover: hover) {
        &:hover {
            span {
                text-decoration: underline $fontColor from-font;
            }

            i {
                animation: shake-bottom-rotate 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            }
        }
    }

    span {
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;
    }
}

.single {
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 64, 24, 1);
        }
    }

    &__content {
        background: $White;
        box-shadow: 4px 14px 24px rgba(29, 29, 80, 0.08);
        border-radius: 10px;
        @include adaptiv-value("padding-top", 32, 24, 16);
        @include adaptiv-value("padding-bottom", 32, 24, 16);
        @include adaptiv-value("padding-left", 40, 16, 16);
        @include adaptiv-value("padding-right", 40, 16, 16);
    }
}

._content {
    p {
        margin: 20px 0;
        color: $DGrey;
    }

    a {
        color: $fontColor;
        text-decoration: underline $fontColor from-font;
        transition: $transition ease text-decoration, $transition opacity 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
                text-decoration: underline transparent from-font;
            }
        }
    }

    ul {
        li {
            color: $DGrey;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

.tooltip {
    position: relative;

    &__btn {
        font-size: 16px;
        color: $Grey;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        position: relative;
        z-index: 2;
        transition: $transition ease color 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $Blue;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                & + .tooltip__content {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    top: -8px;
                }
            }
        }
    }

    &__content {
        background: rgba(40, 44, 51, 0.9);
        border-radius: 10px;
        padding: 16px;
        font-size: 12px;
        line-height: 17px;
        color: $White;
        position: absolute;
        right: 0;
        top: -16px;
        z-index: 2;
        transform: translate(100%, -100%);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: $transition ease all 0s;

        p,
        ul li {
            color: $White;
        }
    }

    &._active {
        .tooltip__content {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            top: -8px;
        }
    }
}
// swiper ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.swiper {
    &__buttons {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        pointer-events: none;
        opacity: 0;
    }

    &__button {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border-radius: 100%;
        background: $White;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        font-size: 12px;
        color: $DGrey;
        cursor: pointer;
        pointer-events: all;
        box-shadow: 4px 4px 10px rgba(29, 29, 80, 0.05);
        transition: $transition ease transform, $transition opacity 0s;

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(3px);
            }
        }

        &.swiper-button-disabled {
            opacity: 0.6;
            cursor: not-allowed;

            @media (any-hover: hover) {
                &:hover {
                    transform: translateY(0);
                }
            }
        }

        &.swiper-button-lock {
            display: none;
        }
    }

    &__button-prev {
        transform: rotate(180deg);

        @media (any-hover: hover) {
            &:hover {
                transform: translateY(3px) rotate(180deg);
            }
        }

        &.swiper-button-disabled {
            @media (any-hover: hover) {
                &:hover {
                    transform: translateY(0) rotate(180deg);
                }
            }
        }
    }

    &._init {
        .swiper__buttons {
            opacity: 1;
        }
    }
}

._arrow-top {
    .swiper {
        &__title {
            padding-top: 3px;
            margin-right: 100px;
            position: relative;
            z-index: 2;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        &__buttons {
            position: absolute;
            top: 10px;
            justify-content: flex-end;
            transition: $transition ease opacity 0s;

            @media screen and (max-width: 574.98px) {
                display: none;
            }
        }

        &__button {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }

        &-wrapper {
            padding-top: 72px;
            @include adaptiv-value("margin-top", -40, -32, 1);

            @media screen and (max-width: 574.98px) {
                margin-top: 0;
                padding-top: 16px;
            }
        }
    }
}
