// === Sizes ===
$layoutDesktop: 1280;
$layoutMobile: 320;

$sizeContainer: 1280;
$containerPadding: 40;
$containerPaddingMobile: 20;

$sizeHeaderHeightMobile: 50px;

$sidebarWidth: 310;
$sidebarHideWidth: 140;

$pc: $sizeContainer + "px"; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// === Font ===
$fontMain: "Montserrat";
$fontWeight: 500;
$fontSize: 14;
$fontSizeMobile: 12;
$lineHeight: 20;
$fontColor: #282c33;
// === Color ===
$Black: #000;
$White: #fff;
$Grey: #a6acb7;
$DGrey: #646e82;
$Blue: #0065ff;
$LBlue: #e4e4f4;
$Line: #d5dbe4;
$Green: #46b64b;
$Red: #e12c2c;
$LOrange: #ffce45;

$transition: 0.3s;
$scrollTrack: #d5dbe4;
$scrollThumb: #0065ff;
