// === Sizes ===
$size-container: 1131;
$layoutDesktop: 1280;
$layoutMobile: 320;

$size-container: 1070;
$containerPadding: 40;
$containerPaddingMobile: 15;

// === Font ===
$fontMain: "Montserrat";
$fontWeight: 400;
$fontSize: 14;
$fontSizeMobile: 12;
$lineHeight: 20;
$fontMain: #282c33;
// === Color ===

$White: #fff;
$Grey: #a6acb7;
$DGrey: #646e82;
$Blue: #0065ff;
$Line: #d5dbe4;
$Green: #46b64b;
$Red: #e12c2c;